<h1>Shopping Cart</h1>
<form action="/checkout" method="Post">
    <p>
    <label for="item">List Item:</label>
    <input type="text" id="item" name="item">
    <br>
    <input type="submit" value="submit">
</form>
